@page "/"
@using TeoriaColas.Pages.CapUno

<PageTitle>Inicio</PageTitle>

<h5 class="text-center pb-3">UNIVERSIDAD NACIONAL DE LA AMAZONIA PERUANA</h5>

<h1 class="text-center">TEORÍA DE COLAS</h1>

<div class="container">
    

</div>   

@code{

}