@page "/"

<PageTitle>Inicio</PageTitle>

<section class="">
    <div class="landing">
        <h1 class="text-center display-3 pt-5">TEORÍA DE COLAS</h1>
        <p class="lead text-center">INVESTIGACION FORMATIVA IO - 2022 I</p>
    </div>
    <br/>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Capitulo 1</h5>
                    <p class="card-text">Distribucion de probabilidad de Poisson.</p>
                </div>
                <div class="card-footer">
                    <a href="capitulouno" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Capitulo 2</h5>
                    <p class="card-text">Modelo de línea de espera de canal único con llegadas Poisson y tiempos de servicio exponenciales.</p>
                </div>
                <div class="card-footer">
                    <a href="capitulodos" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Capitulo 3</h5>
                    <p class="card-text">Lineas de espera de dos canales.</p>
                </div>
                <div class="card-footer">
                    <a href="capitulotres" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Capitulo 4</h5>
                    <p class="card-text">Lineas de espera de dos canales.</p>
                </div>
                <div class="card-footer">
                    <a href="capitulotres" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
    </div>
    <br/>
</section>   

@code{

}